{% extends "base.html" %}
{% load static %}

{% block title %} - Home{% endblock %}

{% block content %}
<!-- Hero Start -->
<section>
  <div class="hero container w-100 flex-row">
    <div class="hero-1 container w-100">
      <div class="container w-90 m-auto">
        <div class="row">
          <div class="hero-content col-span-4 flex-col justify-center g-3">
            <h1 class="hero-title ft-primary-3 font-3 font-wt-800">Welcome to My Fitness</h1>
            <p class="font-2">We provide the best fitness equipment for your home gym</p>
            <button type="button" class="btn border-0 btn-xl .flex-row align-center g-2 bg-primary-1 rounded-1">
              Shop Now
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="hero-2 container w-100">
      <div class="container w-90 m-auto">
        <div class="row">
          <div class="hero-content col-span-4 flex-col justify-center g-3">
            <h1 class="hero-title ft-primary-3 font-3 font-wt-800">Shop The Latest Products</h1>
            <p class="font-2">View the latest range of products and offers with are winter range and sale</p>
            <button type="button" class="btn border-0 btn-xl .flex-row align-center g-2 bg-primary-1 rounded-1">
              Find Out More
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Buttons -->
    <button type="button" id="hero-btn-left" class="hero-btn btn rounded-full bg-trans btn-hover">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button type="button" id="hero-btn-right" class="hero-btn btn rounded-full bg-trans btn-hover">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>
</section>
<!-- Hero End -->
{% endblock %}