{% extends "base.html" %}
{% load static %}

{% block title %} - Home{% endblock %}

{% block content %}
<!-- Hero Start -->
<section>
  <div class="hero container w-100">
    <div class="container w-90 m-auto">
      <div class="row">
        <div class="hero-content col-span-4 flex-col justify-center g-3">
          <h1 class="hero-title ft-primary-3 font-3 font-wt-800">Welcome to My Fitness</h1>
          <p class="font-2">We provide the best fitness equipment for your home gym</p>
          <button type="button" class="btn border-0 btn-xl .flex-row align-center g-2 bg-primary-1 rounded-1">
            Shop Now
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero End -->
{% endblock %}